<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ROKO.l2t"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".L2T"
        android:allowBackup="true"
        android:icon="@drawable/temp_monster"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Study"
            android:label="@string/title_activity_study"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LevelSelect"
            android:label="@string/title_activity_level_select"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Race"
            android:label="@string/title_activity_race"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".Results"
            android:label="@string/title_activity_results"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Login"
            android:label="L2T"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Signup"
            android:label="@string/title_activity_signup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".FacebookSignup"
            android:label="@string/title_activity_facebook_signup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".Friends"
            android:label="@string/title_activity_friends"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FriendsNotifications"
            android:label="@string/title_activity_friends_notifications"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Challenge"
            android:label="@string/title_activity_challenge"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChooseChallenge"
            android:label="@string/title_activity_choose_challenge"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChallengeProgress"
            android:label="@string/title_activity_challenge_progress"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChallengeRace"
            android:label="@string/title_activity_challenge_race"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".ChallengeResults"
            android:label="@string/title_activity_challenge_results" >
        </activity>
    </application>

</manifest>